<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="img/{{site.logo}}" alt="logo">
  </div>

  <ul>
    <li><a href="mailto:{{site.author.email}}"><i class="fa fa-envelope fa-2x"></i></a></li> 
    <li><a href="https://twitter.com/{{site.author.twitter}}"><i class="fa fa-twitter fa-2x"></i></a> 
    <li><a href="https://github.com/{{site.author.github}}"><i class="fa fa-github fa-2x"></i></a>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li><a rel="license" property="http://creativecommons.org/ns#license" href="http://creativecommons.org/licenses/by/4.0/" ><img src="img/cc-by.svg" alt="cc-by"/></a> 
      </li>
    </ul>
  </div>
<div></div>
</footer>


