<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- 

<script src="/js/refills/accordion-tabs.js">
<script src="/js/refills/accordion-tabs-minimal.js">
<script src="/js/refills/centered-navigation.js">
<script src="/js/refills/navigation.js">
<script src="/js/refills/scroll-on-page.js">
<script src="/js/refills/search-tools.js">
<script src="/js/refills/vertical-tabs.js">

-->
