<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="#" class="logo">
      <img src="img/{{site.logo}}" alt="logo">
    </a>
    <a href="#" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for link in site.navigation %}
          {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.baseurl %}
          {% endif %}
          <li class="nav-link">
            <a href="{{ domain }}{{ link.url }}"
               {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" method="get" action="http://google.com/search">
          <input type="hidden" name="q" value="site:{{site.url}}" />
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
